<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes!</title>
</head>
<body>
  <ul id="cupcake-list"></ul> <!--Empty list for JS to add cupcakes to-->
  
  <h2>Add a new cupcake!</h2>
  <form id="new-cupcake-form" method="POST">
    <label>Flavor</label><br>
    <input type="text" id="cupcake-flavor"><br>
    
    <label>Size</label><br>
    <input type="text" id="cupcake-size"><br>
    
    <label>Rating</label><br>
    <input type="number" id="cupcake-rating"><br>
    
    <label>Image URL</label><br>
    <input type="url" id="cupcake-url"><br>
    
    <button type="submit">Add Cupcake</button>
  </form>
</body>
</html>